.topblock{
  width: auto;
  height: auto;
  display: block;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-radius: 1em;
  border-color: #6873a8;
  background-color: #6873a8;
}

.userblock {
  width: auto;
  height: auto;
  display: block;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-radius: 1em;
  border-color: #fad67d;
  background-color: #fad67d;

}
.adminblock {
  width: auto;
  height: auto;
  display: block;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-radius: 1em;
  border-color: #f593eb;
  background-color: #f593eb;
}

.elinu {
  width: 100%;
  display: block;
  padding-left:0px;
  padding-top: 0px;
  font-family: serif;
}

.elina {
 width: 100%;
  display: block;
  padding-left:0px;
  padding-top: 0px;
  font-family: helvetica;
}

.elinbu {
  width: 100%;
  display: block;
  padding-left:0px;
  padding-top: 0px;
  border-style: solid;
  border-radius: 1em;
  border-color: #f55858;
  background-color: #f55858;
  font-family: serif arial;
  font-weight: bold;
  font-size: 1.25em;
}

.elinba {
    width: 100%;
  display: block;
  padding-left:0px;
  padding-top: 0px;
  border-radius: 1em;
  border-color: #869686;
  background-color: #869686;
  font-family: helvetica arial;
  font-weight: bold;
  font-size: 1.25em;
}





