.showup2 {
  visibility: visible;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 30%;
  height: auto;
  background-color: #68cdfc;
  border-style: solid;
  boder-color: blue;
  border-radius: 1.2em;
  padding-top: 3%;
  }

.blkareau2 {
  display: block;
  width: 90%;
  height: auto;
  block-style: solid;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.blkareaa2 {
  display: block;
  width: 90%;
  height: auto;
  block-style: solid;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.btnareau2 {
  display: block;
  background-color: #ebfe3e;
  border-style:solid;
  border-radius: 1em;
  font-family: serif;
}

.btnareaa2 {
  display: block;
  background-color: #ebfe3e;
  border-style:solid;
  border-radius: 1em;
  font-family: serif;
}

.txtareau2 {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
}

txtareau2:hover {
    resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
}

.txtareau2:focus {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
  outline: none;
  outline-width: 0px;
}


.txtareau2:active {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
  outline: none;
  outline-width: 0px;
}

.txtareaa2 {
  resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
}

txtareaa2:hover {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
}

.txtareaa2:focus {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}


.txtareaa2:active {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}

.queuepage2 {
  font-weight: bold;
  font-family: serif;
}

.queueblock2 {
   display: inline-block;
   width: 40%;
   margin-top: 5%;
}

.nqbuttonblock2 {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
}

.btnsubmitblock2 {
   display: inline-block;
   width: 30%;
   margin-top: 5%;
}

.nqbutton2 {
    width: auto;
    border-radius: 1em;
  font-style: italic;
  font-family: serif;
}

.btnsubmit2 {
  width: auto;
  border-radius: 1em;
  font-style: italic;
  font-family: serif;
}

.divstraight2 {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  }


