.blkareau {
  display: block;
  width: 90%;
  height: auto;
  block-style: solid;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.blkareaa {
  display: block;
  width: 90%;
  height: auto;
  block-style: solid;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.btnareau {
  display: block;
  background-color: #ebfe3e;
  border-style:solid;
  border-radius: 1em;
  font-family: serif;
}


.btnareaa {
  display: block;
  background-color: #ebfe3e;
  border-style:solid;
  border-radius: 1em;
  font-family: serif;
}

.txtareau {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
}

.txtareau:hover {
    resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
}

.txtareau:focus {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
  outline: none;
  outline-width: 0px;
}


.txtareau:active {
  resize: none;
  display: block;
  font-family: serif; 
  width: 250px;
  height: 60px;
  border-radius: 1em;
  outline: none;
  outline-width: 0px;
}

.txtareaa {
  resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
}

.txtareaa:hover {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
}

.txtareaa:focus {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}


.txtareaa:active {
   resize: none;
  display: block;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}


.btnsubmit {
  display: block;
  border-radius: 1em;
  margin-top: 5%;
  font-style: italic;
  font-family: serif;
}

.btnsubmit:hover {
  display: block;
  border-radius: 1em;
  margin-top: 5%;
  font-style: italic;
  font-family: serif;
}

.btnsubmit:focus {
  display: block;
  border-radius: 1em;
  margin-top: 5%;
  font-style: italic;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}

.btnsubmit:active {
  display: block;
  border-radius: 1em;
  margin-top: 5%;
  font-style: italic;
  font-family: serif;
  outline: none;
  outline-width: 0px;
}

